{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="puzzleContainer">
    <img id="toggleImage" src="{% static 'positions/position.png' %}" style="width: 640px; height: auto;" />
</div>
<button id="toggleButton">Solution</button>
<button id="analysisButton">Analysis</button>
<button id="nextButton">Next</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var positionImage = "{% static 'positions/position.png' %}"
        var solutionImage = "{% static 'solutions/solution.png' %}"
        var isPositionImage = true; // Flag to track which image is currently shown

        // Function to toggle the image source
        function toggleImage() {
            var imageElement = document.getElementById('toggleImage');
            var buttonElement = document.getElementById('toggleButton');
            if (isPositionImage) {
                imageElement.src = solutionImage;
                buttonElement.innerText = "Position";
            } else {
                imageElement.src = positionImage;
                buttonElement.innerText = "Solution";
            }
            isPositionImage = !isPositionImage; // Toggle the flag
        }

        // Add click event listener to the button
        document.getElementById('toggleButton').addEventListener('click', toggleImage);
    });
</script>
{% endblock %}

